/* General Styles */
body {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #000000;
    border-width: 0.0001cap;
    
}

.content {
    max-width: 600px;
    margin: 20px;
    padding: 20px;

}

/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1,
header h2 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 500;
}

header h2 {
    color: #006EB6;
    font-size: 75%;
    text-decoration: underline;
    text-decoration-color: #000000;

}

/* Main Content Styles */
main {
    text-align: left;
}

.numbered_list li {

    padding-bottom: 20px;

}

.numbered_list {
    padding-left: 20px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}

footer .logo {
    width: 150px;
    height: auto;
}
