/* General Styles */
body {

    font-size: 20px;
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
    padding-top: 50px;
    justify-content: center;
    border-style: solid;
    border-color: #6b5c5c;
    border-width: 0.0001cap;
    display: flex;
    margin: 10%;
    
}

#theme_selector {

    width: 100px;
    height: 25px;

}

.dark {

background-color: #333;
color: white;
border: 1px solid white;
margin: 10%;

}

.dark h2 {

    color: #A0D4ED;

}



.content {

    max-width: 600px;
    margin: 0 auto;

}

/* Header configurations */
header {

    text-align: center;
    margin-bottom: 20px;
}

header h1,
header h2 {

    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 500;
}

header h2 {

    color: #006EB6;
    font-size: 75%;

}

/* Main configurations */
main {

    text-align: left;
}

.numbered_list li {

    padding-bottom: 20px;

}

.numbered_list {

    padding-left: 20px;
}

/* Footer configurations */
footer {

    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
}

footer #logo {

    width: 150px;
    height: auto;
    padding-bottom: 20px;
}
